.header{
    border-radius: 25px;
position: relative;
top:1px;
left: 5px;
right: 5px;
height: 2cm;
background-color: white;



}

.logo{

position: absolute;
border-radius: 0px;
top : 2px;


bottom: 2px;
left: 6cm;
width: 5cm;
background-color: antiquewhite;
text-align: center;


}



  



.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .menu-bar li {
    float: left;
  }
  
 .menu-bar li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }



.menu-bar{

   position: relative;
   left: 25%;
   top: 100%;
   
   


}
.second-menu ul {
    list-style-type: none;
    margin: 3cm;
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
  }
  
  .second-menu li {
    float: left;
  }
  
 .second-menu li a {
    display: block;
    padding: 4px;
    
   
  }
  @media screen and (max-width: 500px) {
  
    .header,
    .menu-bar,
    .logo,
    .product-card,
    .second-menu {
        width: 70%;
    }
}
.content{
 margin-top: 6cm;

}

.product1  
{
  display: inline-block;
    border: 2ch;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
   

}
.product2{
  display: inline-block;
  border: 2ch;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;

}
.product3{
  display: inline-block;
  border: 2ch;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;

}
.product4{
  display: inline-block;
  border: 2ch;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;

}
img.roundim1{
  border-radius: 25px;

  display: inline-block;
}
img.roundim2{
  border-radius: 25px;
  display: inline-block;
}
img.roundim3{
  border-radius: 25px;
  display: inline-block;
}
img.roundim4{
  border-radius: 25px;
  display: inline-block;
}
.cards{

  
    display: inline-block;
}
